extends layout

block content
    div.row.justify-content-center
        div.col-md-8.text-center
            h1.display-4.text-success Proyect
            p.lead Bienvenido a la plataforma de imágenes de Proyect.
            