extends layout

block content
    div.row.justify-content-center
        div.col-md-6
            div.card.shadow-sm
                div.card-header.bg-primary.text-white
                    h4.mb-0 Iniciar Sesión
                div.card-body
                    form(action="/login", method="POST")
                        div.mb-3
                            label.form-label(for="username") Nombre de Usuario
                            input#username.form-control(type="text", name="username", required)
            
                        div.mb-3
                            label.form-label(for="password") Contraseña
                            input#password.form-control(type="password", name="password", required)
            
                        div.d-grid
                            button.btn.btn-primary(type="submit") Entrar